{include file="public/header" /}
<script type="text/javascript" src="__STATIC__/index/js/common.js"></script>
<div class="main-content item-box">
	<div class="item-type">
		<div class="column-item layui-row">
			<div class="column-item-title layui-row subject-second-color font-color1 font-bold">热门文章</div>
			<div class="jianjie-p layui-row">
				<ul class="remen-ul">
					{foreach $hotBlog as $key=>$val }
					<li>
						<div class="remen-title layui-row">
							<a href="/index.php/index/index/show/blog_id/{$val['blog_id']}">{$val['blog_title']}</a>
						</div>
						<div class="remen-readnum layui-row">点赞数：{$val['blog_fabulous']}</div>
					</li>
					{/foreach}

				</ul>
			</div>
		</div>
	</div>
	<div class="item-list">
		<div class="article-content-box layui-row">
			<h1>{$content['blog_title']}</h1>
			<div class="article-param layui-row">
				{$content['update_time']}
				<span>&nbsp;</span>
				<span>&nbsp;</span>
				<span>
					{if($fabulousFlag)}
					   <button onclick="cancelFabulous({$content['blog_id']},'{$index_user_id}')" style="cursor: pointer">取消点赞
						({$content['blog_fabulous']})</button>
					{else}
                       <button onclick="addFabulous({$content['blog_id']},'{$index_user_id}')" style="cursor: pointer">&nbsp;点  赞
						({$content['blog_fabulous']})</button>
					{/if}
				</span>
				<span>
					{if($collectionFlag)}
					   <button onclick="cancelCollection({$content['blog_id']},'{$index_user_id}')" style="cursor: pointer">取消收藏</button>
					{else}
                       <button onclick="addCollection({$content['blog_id']},'{$index_user_id}')" style="cursor: pointer">&nbsp;收  藏</button>
					{/if}
				</span>
			</div>
			<article>
				{$content['blog_content']|raw}
			</article>

		</div>
	</div>
</div>
{include file="public/footer" /}