{include file="public/header" /}
<div class="main-content item-box">
	{include file="public/left" /}
	<div class="item-list">
		<ul class="article-ul">
			{foreach $blogData as $key=>$val }
				<li>
					<div class="article-list-row layui-row">
						<div class="article-li-title layui-row">
							<h3 class="font-bold layui-elip"><a href="/index.php/index/index/show/blog_id/{$val['blog_id']}">{$val['blog_title']}</a></h3>
						</div>
						<div class="article-li-msg"><p>{$val['blog_content']|strip_tags}</p></div>
						<div class="article-li-param layui-row">
							{$val['create_time']}<span>点赞数：{$val['blog_fabulous']}</span>
						</div>
					</div>
				</li>
			{/foreach}
		</ul>
		<div class="page-box layui-row">
			<div id="pageItem"></div>
		</div>
	</div>
</div>
{include file="public/footer" /}