{include file="public/header" /}
<div class="main-content item-box">
    <div class="login-box" style="margin-top: auto; width: 850px; height: 720px;">
        <div class="login-title layui-row">
            <h2>个人信息</h2>
        </div>
        <div class="hr-line-div"></div>
            <div class="login-form">
                <p>用户名：<strong>{$userInfo.member_name}</strong></p><br/>
                <p>省：<strong>{$userInfo.province_name}</strong></p><br/>
                <p>市：<strong>{$userInfo.city_name}</strong></p><br/>
                <p>县：<strong>{$userInfo.county_name}</strong></p><br/>
                <p>具体地址：<strong>{$userInfo.member_address}</strong></p><br/>
                <p>头像：</p><br/>
                <img src="{$userInfo.member_avatar}" width="100px" height="100px"/>
                <button class="layui-btn layui-btn-fluid"
                        onclick="window.location.href='/index.php/index/user/infoUp'">完善信息</button>
            </div>
    </div>
</div>
</body>
</html>
