{include file="public/header" /}
<div class="main-content item-box">
	<div class="login-box" style="margin-top: auto; width: 850px; height: 720px;">
		<div class="login-title layui-row">
			<h2>登录</h2>
		</div>
	<div class="hr-line-div"></div>
	<form action="/index.php/index/user/doLogin" method="post" id="login_form">
	<div class="login-form">
		<p>用户名：</p>
		<input type="text" name="username" id="username" placeholder="请输入用户名" class="layui-input">
	</div>
	<div class="login-form">
		<p>密码：</p>
		<input type="password" name="password" id="password" placeholder="请输入密码" class="layui-input">
	</div>

	<div class="login-form">
		<button class="layui-btn layui-btn-fluid layui-btn-normal"
		onclick="document.getElementById('login_form').submit();">登    录</button>
	</div>
	<div class="login-form">
		<button class="layui-btn layui-btn-fluid"
				onclick="window.location.href='/index.php/index/user/reg'">注   册</button>
	</div>
	</form>
</div>
</div>
</body>
</html>