{include file="public/header" /}
<script type="text/javascript" src="__STATIC__/index/js/common.js"></script>
<script type="text/javascript" src="__STATIC__/index/js/reg.js"></script>
<div class="main-content item-box">
	<div class="login-box" style="margin-top: auto; width: 850px; height: 720px;">
		<div class="login-title layui-row">
			<h2>注册</h2>
		</div>
		<div class="hr-line-div"></div>
		<form method="post" action="/index.php/index/user/regSave" enctype="multipart/form-data" name="form">
		<div class="login-form">
			<p>用户名：</p><input type="text" name="username" placeholder="请输入用户名" class="layui-input">
			<p>密码：</p><input type="password" name="password" placeholder="请输入密码" class="layui-input">
			<p>重复密码：</p><input type="password" name="repassword" placeholder="请输入密码" class="layui-input">
			<p>省/市/县：</p>
			<select name="province" id="province" class="layui-input" onchange="provinceChange(this.options[this.options.selectedIndex].value)">
				<option value ="0">请选择省</option>
			</select>
			<br/>
			<select name="city" id="city" class="layui-input" onchange="cityChange(this.options[this.options.selectedIndex].value)">
				<option value ="0">请选择市</option>
			</select>
			<br/>
			<select name="county" id="county" class="layui-input">
				<option value ="0">请选择区</option>
			</select>
			<p>具体地址：</p><input type="text" name="address" placeholder="请输入地址" class="layui-input">
			<p>上传头像：</p><input type="file" name="avatar">
			<img src=""/>

			<button class="layui-btn layui-btn-fluid" id="submit_btn" onclick="document.getElementsByName('form').submit()">立即注册</button>
		</div>
		</form>
	</div>
</div>
</body>
</html>
